@import "fonts";
@import "columns";

.awards-wrapper::after {
  @include row;
}

@media only screen and (min-width: 758px) {
  .awards-wrapper {
    height: 100%;
    margin-bottom: 5%;
    width: $col-12;
    .awards-title {
      font-family: $title-font;
      text-align: center;
      margin: 0 auto;
      padding-top: 1%;
      font-size: 2.5vw;
    }
    .carousel-wrapper {
      .year {
        font-family: $title-font;
        font-size: 2vw;
        transition: all 0.2s ease-in-out;
        margin: 10%;
        &:hover {
          color: #d62828;
        }
      }
    }
    .years-wrapper {
      display: none;
    }
    .award-content-wrapper {
      margin-right: auto;
      margin-left: auto;
      width: $col-6;
      font-family: $body-font;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .award-card {
        width: $col-12;
        ul {
          font-weight: bold;
          font-size: 2vw;
          &::first-letter{
              font-family: $title-font;
              font-size: 3vw;
          }
          li::before {
            content: "\2606";
            color: #d62828;
            display: inline-block;
            width: 6%;
          }
          li {
            margin-top: 1%;
            font-weight: lighter;
            text-align: justify;
            list-style: none;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 758px){
  .awards-wrapper {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    .awards-title {
      float: left;
      font-size: 6vw;
      font-family: $title-font;
      width: $col-12;
    }
    .carousel-wrapper {
      display: none;
    }
    .years-wrapper {
      width: $col-5;
      height: 100%;
      display: inline-block;
      text-align: center;
      .year-button{
        width: $col-8;
        height: 10vh;
        margin-bottom: 2%;
        font-family: $body-font;
        font-size: 5vw;
        background-color: #e9ecef;
        border: 2px solid #343a40;
        border-radius: 5px;
        &:focus{
          outline: none;
          border: 2px solid #d62828;
          color: #d62828;
        }
      }
    }
    .award-content-wrapper {
      float: right;
      width: $col-7;
      margin-bottom: 10%;
      font-family: $body-font;
      .award-card {
        width: $col-12;
        margin-left: -10%;
        ul {
          font-weight: bold;
          font-size: 5vw;
          &::first-letter{
              font-family: $title-font;
              font-size: 7vw;
          }
          li::before {
            content: "\2606";
            color: #d62828;
            display: inline-block;
            width: 15%;
          }
          li {
            margin-top: 1%;
            font-weight: lighter;
            text-align: justify;
            list-style: none;
          }
        }
      }
    }
  }
}