@import 'fonts';
@import 'columns';

.homewrapper::after {
    @include row;
}

@media only screen and (max-width: 640px){
    .wrapper{
        margin-top: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30%;
        .homewrapper{
            border: 5px double #d62828;
            width: 90%;
            padding: 2%;
            .bioleft {
                width: $col-12;
                font-family: $body-font;
                text-align: justify;  
                margin-right: 1%;
            }
            .imgwrapper {
                display: none;
            }
            .bioright {
                width: $col-12;
                font-family: $body-font;
                text-align: justify;
            }
        }
    }
}

@media only screen and (min-width: 640px){
    .wrapper {
        .homewrapper {
            display: flex;
            .imgwrapper {
                height: 70%;
                width: $col-5;
                display: inline-block;
                text-align: center;
                font-family: $title-font;
                .audreyhome {
                    max-height: 100%;
                    max-width: 60%;
                    height: auto;
                    width: auto;
                    padding-left: 0.5%;
                    padding-right: 0.5%;
                    padding-bottom: 0.4%;
                    padding-top: 0.4%;
                    border: 10px double #343A40;
                }
            }
            .textwrapper {
                width: $col-7;
                display: flex;
                margin-right: 2%;
                .bioleft {
                    width: $col-6;
                    font-family: $body-font;
                    display: flex;
                    text-align: justify;
                    margin-right: 2%;
                    margin-top: 10%;
                }
                .bioright {
                    width: $col-6;
                    font-family: $body-font;
                    display: flex;
                    margin-left: 1%;
                    text-align: justify;
                    margin-top: 10%;
                }
            }
        }
    }
}