@import 'fonts';

.homewrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
    height: 100%;
    width: 100%;
    .bioleft {
        grid-area: 1 / 1 / 2 / 2;
        font-family: $body-font;
        display: flex;
        align-items: center;
        text-align: justify;
        margin-left: 10%;
    }
    .imgwrapper {
        grid-area: 1 / 2 / 2 / 3;
        display: inline-block;
        text-align: center;
        font-family: $title-font;
        .audreyhome {
            max-height: 100%;
            max-width: 60%;
            height: auto;
            width: auto;
            padding-left: 0.5%;
            padding-right: 0.5%;
            padding-bottom: 0.4%;
            padding-top: 0.4%;
            border: 10px double #343A40;
        }
    }
    .bioright {
        grid-area: 1 / 3 / 2 / 4;
        font-family: $body-font;
        display: flex;
        align-items: center;
        margin-right: 10%;
        text-align: justify;
        text-align-last: right;
    }
}