@import 'fonts';
@import 'columns';

.homewrapper::after {
    @include row;
}

.bioleft {
    width: $col-12;
    font-family: $body-font;
    text-align: justify;        
}
.imgwrapper {
    display: none;
}
.bioright {
    width: $col-12;
    font-family: $body-font;
    text-align: justify;
}

@media only screen and (min-width: 640px){
    .homewrapper {
        width: 100%;
        display: flex;
        .bioleft {
            width: $col-4;
            font-family: $body-font;
            display: flex;
            align-items: center;
            text-align: justify;
            margin-left: 1%;
        }
        .imgwrapper {
            width: $col-4;
            display: inline-block;
            text-align: center;
            font-family: $title-font;
            .audreyhome {
                max-height: 100%;
                max-width: 60%;
                height: auto;
                width: auto;
                padding-left: 0.5%;
                padding-right: 0.5%;
                padding-bottom: 0.4%;
                padding-top: 0.4%;
                border: 10px double #343A40;
            }
        }
        .bioright {
            width: $col-4;
            font-family: $body-font;
            display: flex;
            align-items: center;
            margin-right: 1%;
            text-align: justify;
            text-align-last: right;
        }
    }
}