@import "fonts";
@import "columns";

.media-page-wrapper::after {
  @include row;
}

@media only screen and (min-width: 758px) {
  .media-page-wrapper {
    width: $col-12;
    margin-bottom: 10%;
    margin-top: 0.5%;
    display: flex;
    .media-page-left {
      width: $col-4;
      .img-alt-wrap {
        display: block;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        .alt-p {
          position: absolute;
          opacity: 0;
          bottom: 50%;
          width: $col-12;
          margin-left: auto;
          margin-right: auto;
          font-family: $body-font;
          color: #343a40;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
        }
        img {
          max-width: $col-12;
          max-height: 70%;
          width: auto;
          height: auto;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
        }
        &:hover > .alt-p {
          opacity: 1;
          font-weight: bold;
        }
        &:hover > img {
          opacity: 0.1;
        }
      }
    }
    .media-page-center {
      justify-items: center;
      width: $col-4;
      h1 {
        font-size: 150%;
        font-family: $title-font;
        text-align: center;
      }
      .media-button-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: $col-12;
        .media-button {
          font-family: $body-font;
          font-size: 150%;
          width: $col-6;
          margin: 3% auto;
          padding: 5%;
          background-color: white;
          border: 1px solid #343a40;
          border-radius: 15px;
          outline: none;
          text-align: center;
          &:hover {
            background-color: #e9ecef;
            cursor: pointer;
          }
          &:active {
            color: #d62828;
          }
        }
      }
    }
    .media-page-right {
      width: $col-4;
      .img-alt-wrap {
        display: block;
        position: relative;
        text-align: center;
        .alt-p {
          position: absolute;
          opacity: 0;
          bottom: 50%;
          width: $col-12;
          margin-left: auto;
          margin-right: auto;
          font-family: $body-font;
          color: #343a40;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
        }
        img {
          max-width: $col-12;
          max-height: 70%;
          width: auto;
          height: auto;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
        }
        &:hover > .alt-p {
          opacity: 1;
          font-weight: bold;
        }
        &:hover > img {
          opacity: 0.1;
        }
      }
    }
  }
}
