@import 'fonts';

.navbar {
  font-family: $title-font;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #343A40;
  z-index: 12;
  background-color: white;
  .navbartitle {
    color: black;
  }
  .navbaritem {
    margin: 1%;
  }
}

.footer {
  font-family: $body-font;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E9ECEF;
  height: 12%;
  align-items: center;
  border-top: 1px solid #343A40;
  img {
    opacity: 0.75;
    transition: all .2s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}