@import "fonts";
@import "columns";

.footer::after {
  @include row;
}

.footer {
  font-family: $body-font;
  display: flex;
  position: fixed;
  bottom: 0;
  width: $col-12;
  background-color: #e9ecef;
  height: 12%;
  align-items: center;
  border-top: 1px solid #343a40;
  img {
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media only screen and (max-width: 758px) {
  .navbarrow {
    display: none;
  }

  .smallnavbarrow::after {
    @include row;
  }

  .smallnavbarrow {
    font-family: $title-font;
    font-size: 60%;
    text-decoration: none;
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    align-items: center;
    width: $col-12;
    border-bottom: 1px solid #343a40;
    background-color: #e9ecef;
    .titlewrapper {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      .navbartitle {
        color: #d62828;
      }
    }
    #ddbutton {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }
    .rotate {
      -webkit-transform: rotate(90deg) !important;
      -moz-transform: rotate(90deg) !important;
      -ms-transform: rotate(90deg) !important;
      transform: rotate(90deg) !important;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }
  }
}

@media only screen and (min-width: 758px) {
  .smallnavbarrow {
    display: none;
  }

  .navbarrow::after {
    @include row;
  }

  .navbar {
    font-family: $title-font;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $col-12;
    border-bottom: 1px solid #343a40;
    background-color: #e9ecef;
    text-align: center;
    .navbartitle {
      width: $col-12;
      display: flex;
      color: black;
      font-size: 2vw;
    }
    .navbaritem {
      display: flex;
      justify-content: center;
      margin-left: 3%;
      margin-right: 3%;
      font-size: 1.25vw;
    }
  }
}
