@import "fonts";
@import "columns";

.videos-wrapper::after {
  @include row;
}

@media only screen and (min-width: 758px) {
  .videos-wrapper {
    width: $col-12;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    .videos-top {
      display: flex;
      align-items: center;
      width: $col-12;
      .videos-title {
        font-family: $title-font;
        width: $col-9;
        font-size: 3vw;
        margin-left: 22%;
      }
      .button-wrapper {
        width: $col-3;
        display: flex;
        margin-left: 4.5%;
        .back-button {
          height: 100%;
          font-family: $body-font;
          font-size: 1.5vw;
          font-weight: bold;
          background-color: white;
          border: 2px solid #343a40;
          border-radius: 10px;
          padding-top: 15%;
          padding-bottom: 15%;
          padding-left: 35%;
          padding-right: 35%;
          transition: all 0.2s ease-in-out;
          outline: none;
          &:hover {
            background-color: #e9ecef;
            color: #d62828;
            cursor: pointer;
          }
        }
      }
    }
    .content-wrapper {
      display: inline-flex;
      width: $col-12;
      justify-content: center;
      .video {
          width: $col-12;
      }
    }
  }
}
