@import "NavBar";
@import "Home";
@import "Publications";
@import "Media";
@import "Interviews";
@import "Videos";
@import "ProbablyAngels";
@import "Awards";

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.alert{
  color: red;
  font-weight: bold;
  font-size: 2.5vw;
}