@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
.footer::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  font-family: "Lato", sans-serif;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E9ECEF;
  height: 12%;
  align-items: center;
  border-top: 1px solid #343A40;
}
.footer img {
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.footer img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media only screen and (max-width: 758px) {
  .navbarrow {
    display: none;
  }

  .smallnavbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .smallnavbarrow {
    font-family: "Cinzel", serif;
    font-size: 60%;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #343A40;
    background-color: #E9ECEF;
  }
  .smallnavbarrow .titlewrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .smallnavbarrow .titlewrapper .navbartitle {
    color: #d62828;
  }
  .smallnavbarrow #ddbutton {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .smallnavbarrow .rotate {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
}
@media only screen and (min-width: 758px) {
  .smallnavbarrow {
    display: none;
  }

  .navbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbar {
    font-family: "Cinzel", serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #343A40;
    background-color: white;
  }
  .navbar .navbartitle {
    color: black;
  }
  .navbar .navbaritem {
    margin: 1%;
  }
}
.homewrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
  }
  .wrapper .homewrapper {
    border: 5px double #d62828;
    width: 90%;
    padding: 2%;
  }
  .wrapper .homewrapper .bioleft {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
    margin-right: 1%;
  }
  .wrapper .homewrapper .imgwrapper {
    display: none;
  }
  .wrapper .homewrapper .bioright {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
}
@media only screen and (min-width: 640px) {
  .homewrapper {
    width: 100%;
    display: flex;
  }
  .homewrapper .bioleft {
    width: 33.33%;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 1%;
  }
  .homewrapper .imgwrapper {
    width: 33.33%;
    display: inline-block;
    text-align: center;
    font-family: "Cinzel", serif;
  }
  .homewrapper .imgwrapper .audreyhome {
    max-height: 100%;
    max-width: 60%;
    height: auto;
    width: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.4%;
    padding-top: 0.4%;
    border: 10px double #343A40;
  }
  .homewrapper .bioright {
    width: 33.33%;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    margin-right: 1%;
    text-align: justify;
    text-align-last: right;
  }
}
body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
