@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@media only screen and (max-width: 758px) {
  .footer::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbarrow {
    display: none;
  }

  .smallnavbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .smallnavbarrow {
    font-family: "Cinzel", serif;
    font-size: 2vw;
    text-decoration: none;
    display: flex;
    position: fixed;
    top: 0;
    height: 10vw;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #343a40;
    background-color: #e9ecef;
  }
  .smallnavbarrow .titlewrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .smallnavbarrow .titlewrapper .navbartitle {
    color: #d62828;
  }
  .smallnavbarrow #ddbutton {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    height: 100%;
  }
  .smallnavbarrow .rotate {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  .footer {
    font-family: "Lato", sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    height: 12vw;
    align-items: center;
    border-top: 1px solid #343a40;
  }
  .footer .contactglyph {
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
    width: 5vw;
  }
  .footer .contactglyph:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
@media only screen and (min-width: 758px) {
  .footer::after {
    content: "";
    clear: both;
    display: table;
  }

  .smallnavbarrow {
    display: none;
  }

  .navbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbar {
    font-family: "Cinzel", serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #343a40;
    background-color: #e9ecef;
    text-align: center;
    height: 12%;
  }
  .navbar .navbartitle {
    width: 100%;
    display: flex;
    color: black;
    font-size: 2vw;
  }
  .navbar .navbaritem {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.25vw;
  }

  .footer {
    font-family: "Lato", sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    height: 10%;
    align-items: center;
    border-top: 1px solid #343a40;
  }
  .footer #emailglyph {
    height: 4vh;
  }
  .footer .contactglyph {
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
    width: 2vw;
  }
  .footer .contactglyph:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
.homewrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 758px) {
  .wrapper {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
  }
  .wrapper .homewrapper {
    border: 5px double #d62828;
    width: 90%;
    padding: 2%;
  }
  .wrapper .homewrapper .bioleft {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
    margin-right: 1%;
  }
  .wrapper .homewrapper .imgwrapper {
    display: none;
  }
  .wrapper .homewrapper .bioright {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
}
@media only screen and (min-width: 758px) {
  .wrapper .homewrapper {
    display: flex;
  }
  .wrapper .homewrapper .imgwrapper {
    width: 41.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-family: "Cinzel", serif;
  }
  .wrapper .homewrapper .imgwrapper .audreyhome {
    max-height: 100%;
    max-width: 60%;
    height: auto;
    width: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.4%;
    padding-top: 0.4%;
    border: 10px double #343a40;
  }
  .wrapper .homewrapper .textwrapper {
    width: 58.33%;
    display: flex;
    margin-right: 5%;
  }
  .wrapper .homewrapper .textwrapper .bioleft {
    width: 50%;
    font-family: "Lato", sans-serif;
    display: flex;
    text-align: justify;
    margin-right: 2%;
    margin-top: 10%;
    border-right: 1px solid #343a40;
    padding-right: 3%;
  }
  .wrapper .homewrapper .textwrapper .bioright {
    width: 50%;
    font-family: "Lato", sans-serif;
    display: flex;
    margin-left: 1%;
    text-align: justify;
    margin-top: 10%;
    padding-left: 3%;
    border-left: 1px solid #343a40;
  }
}
.publications-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 758px) {
  .publications-wrapper {
    height: 100%;
    margin-bottom: 5%;
  }
  .publications-wrapper .publications-title {
    font-family: "Cinzel", serif;
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    font-size: 2.5vw;
  }
  .publications-wrapper .carousel-wrapper .year {
    font-family: "Cinzel", serif;
    font-size: 2vw;
    transition: all 0.2s ease-in-out;
    margin: 10%;
  }
  .publications-wrapper .carousel-wrapper .year:hover {
    color: #d62828;
  }
  .publications-wrapper .years-wrapper {
    display: none;
  }
  .publications-wrapper .pub-cards-wrapper {
    max-width: 91.66%;
    margin: 1% auto;
    column-gap: 1%;
    column-count: 4;
    font-family: "Lato", sans-serif;
    height: 100%;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card {
    display: inline-block;
    margin: 0 0 4%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    border: 2px solid #343a40;
    padding-bottom: -1%;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card:hover {
    background-color: #e9ecef;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title {
    transition: all 0.2s ease-in-out;
    font-size: 1.25vw;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title:hover {
    color: #d62828;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title-p-tag {
    font-size: 2.5vw;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title-p-tag:hover {
    color: #d62828;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-name {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 758px) {
  .publications-wrapper {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .publications-wrapper .publications-title {
    float: left;
    font-size: 4vw;
    font-family: "Cinzel", serif;
    width: 100%;
  }
  .publications-wrapper .carousel-wrapper {
    display: none;
  }
  .publications-wrapper .years-wrapper {
    width: 41.66%;
    height: 100%;
    display: inline-block;
  }
  .publications-wrapper .years-wrapper .year-button {
    width: 66.66%;
    height: 10vh;
    margin-bottom: 2%;
    font-family: "Lato", sans-serif;
    font-size: 3vw;
    background-color: #e9ecef;
    border: 2px solid #343a40;
    border-radius: 5px;
  }
  .publications-wrapper .years-wrapper .year-button:focus {
    outline: none;
    border: 2px solid #d62828;
    color: #d62828;
  }
  .publications-wrapper .pub-cards-wrapper {
    float: right;
    width: 58.33%;
    column-count: 2;
    margin-bottom: 10%;
    font-family: "Lato", sans-serif;
    column-gap: 2%;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card {
    display: inline-block;
    margin: 0 0 4%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    border: 2px solid #343a40;
    border-radius: 5px;
    padding-bottom: -1%;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card:hover {
    background-color: #e9ecef;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title {
    transition: all 0.2s ease-in-out;
    font-size: 1.25vw;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title:hover {
    color: #d62828;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title-p-tag {
    font-size: 2.5vw;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-title-p-tag:hover {
    color: #d62828;
  }
  .publications-wrapper .pub-cards-wrapper .pub-card .pub-name {
    font-size: 2vw;
  }
}
.media-page-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 758px) {
  .media-page-wrapper {
    width: 100%;
    margin-bottom: 10%;
    margin-top: 0.5%;
    display: flex;
  }
  .media-page-wrapper .media-page-left {
    width: 33.33%;
  }
  .media-page-wrapper .media-page-left .img-alt-wrap {
    display: block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .media-page-wrapper .media-page-left .img-alt-wrap .alt-p {
    position: absolute;
    opacity: 0;
    bottom: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    color: #343a40;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  .media-page-wrapper .media-page-left .img-alt-wrap img {
    max-width: 100%;
    max-height: 70%;
    width: auto;
    height: auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  .media-page-wrapper .media-page-left .img-alt-wrap:hover > .alt-p {
    opacity: 1;
    font-weight: bold;
  }
  .media-page-wrapper .media-page-left .img-alt-wrap:hover > img {
    opacity: 0.1;
  }
  .media-page-wrapper .media-page-center {
    justify-items: center;
    width: 33.33%;
  }
  .media-page-wrapper .media-page-center h1 {
    font-size: 150%;
    font-family: "Cinzel", serif;
    text-align: center;
  }
  .media-page-wrapper .media-page-center .media-button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .media-page-wrapper .media-page-center .media-button-wrapper .media-button {
    font-family: "Lato", sans-serif;
    font-size: 150%;
    width: 50%;
    margin: 3% auto;
    padding: 5%;
    background-color: white;
    border: 1px solid #343a40;
    border-radius: 15px;
    outline: none;
    text-align: center;
  }
  .media-page-wrapper .media-page-center .media-button-wrapper .media-button:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }
  .media-page-wrapper .media-page-center .media-button-wrapper .media-button:active {
    color: #d62828;
  }
  .media-page-wrapper .media-page-right {
    width: 33.33%;
  }
  .media-page-wrapper .media-page-right .img-alt-wrap {
    display: block;
    position: relative;
    text-align: center;
  }
  .media-page-wrapper .media-page-right .img-alt-wrap .alt-p {
    position: absolute;
    opacity: 0;
    bottom: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
    color: #343a40;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  .media-page-wrapper .media-page-right .img-alt-wrap img {
    max-width: 100%;
    max-height: 70%;
    width: auto;
    height: auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  .media-page-wrapper .media-page-right .img-alt-wrap:hover > .alt-p {
    opacity: 1;
    font-weight: bold;
  }
  .media-page-wrapper .media-page-right .img-alt-wrap:hover > img {
    opacity: 0.1;
  }
}
.interviews-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 758px) {
  .interviews-top {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .interviews-top .interviews-title {
    font-family: "Cinzel", serif;
    width: 75%;
    font-size: 3vw;
    margin-left: 17%;
  }
  .interviews-top .button-wrapper {
    width: 25%;
    display: flex;
    margin-left: 4.5%;
    margin-top: 1%;
  }
  .interviews-top .button-wrapper .back-button {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: white;
    border: 2px solid #343a40;
    border-radius: 10px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 35%;
    padding-right: 35%;
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  .interviews-top .button-wrapper .back-button:hover {
    background-color: #e9ecef;
    color: #d62828;
    cursor: pointer;
  }

  .interviews-wrapper {
    max-width: 91.66%;
    height: 100%;
    margin-bottom: 10%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    column-count: 2;
    column-gap: 1%;
  }
  .interviews-wrapper a {
    transition: all 0.2s ease-in-out;
  }
  .interviews-wrapper a:hover {
    color: #d62828;
  }
  .interviews-wrapper h1 {
    font-family: "Lato", sans-serif;
    font-size: 150%;
  }
  .interviews-wrapper h5 {
    font-family: "Cinzel", serif;
    font-size: 110%;
  }
  .interviews-wrapper .interview-card {
    display: inline-block;
    margin: 0 0 4%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    border: 2px solid #343a40;
    border-radius: 15px;
    padding-bottom: -1%;
    text-align: center;
  }
}
.videos-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 758px) {
  .videos-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
  }
  .videos-wrapper .videos-top {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .videos-wrapper .videos-top .videos-title {
    font-family: "Cinzel", serif;
    width: 75%;
    font-size: 3vw;
    margin-left: 22%;
  }
  .videos-wrapper .videos-top .button-wrapper {
    width: 25%;
    display: flex;
    margin-left: 4.5%;
  }
  .videos-wrapper .videos-top .button-wrapper .back-button {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: white;
    border: 2px solid #343a40;
    border-radius: 10px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 35%;
    padding-right: 35%;
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  .videos-wrapper .videos-top .button-wrapper .back-button:hover {
    background-color: #e9ecef;
    color: #d62828;
    cursor: pointer;
  }
  .videos-wrapper .content-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .videos-wrapper .content-wrapper .video {
    width: 100%;
  }
}
.probably-angels-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 758px) {
  .probably-angels-wrapper {
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 10%;
  }
  .probably-angels-wrapper a {
    transition: all 0.2s ease-in-out;
  }
  .probably-angels-wrapper a:hover {
    color: #d62828;
    cursor: pointer;
    text-decoration: underline;
  }
  .probably-angels-wrapper a:focus {
    color: #d62828;
    outline: black;
  }
  .probably-angels-wrapper img {
    max-width: 60%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.alert {
  color: red;
  font-weight: bold;
  font-size: 2.5vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*# sourceMappingURL=App.css.map */
