@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&display=swap");
.footer::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  font-family: "Lato", sans-serif;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e9ecef;
  height: 12%;
  align-items: center;
  border-top: 1px solid #343a40;
}
.footer img {
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.footer img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media only screen and (max-width: 758px) {
  .navbarrow {
    display: none;
  }

  .smallnavbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .smallnavbarrow {
    font-family: "Cinzel", serif;
    font-size: 60%;
    text-decoration: none;
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #343a40;
    background-color: #e9ecef;
  }
  .smallnavbarrow .titlewrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .smallnavbarrow .titlewrapper .navbartitle {
    color: #d62828;
  }
  .smallnavbarrow #ddbutton {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .smallnavbarrow .rotate {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
}
@media only screen and (min-width: 758px) {
  .smallnavbarrow {
    display: none;
  }

  .navbarrow::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbar {
    font-family: "Cinzel", serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #343a40;
    background-color: white;
    text-align: center;
  }
  .navbar .navbartitle {
    width: 100%;
    display: flex;
    color: black;
    font-size: 2vw;
  }
  .navbar .navbaritem {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.25vw;
  }
}
.homewrapper::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 758px) {
  .wrapper {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
  }
  .wrapper .homewrapper {
    border: 5px double #d62828;
    width: 90%;
    padding: 2%;
  }
  .wrapper .homewrapper .bioleft {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
    margin-right: 1%;
  }
  .wrapper .homewrapper .imgwrapper {
    display: none;
  }
  .wrapper .homewrapper .bioright {
    width: 100%;
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
}
@media only screen and (min-width: 758px) {
  .wrapper .homewrapper {
    display: flex;
  }
  .wrapper .homewrapper .imgwrapper {
    width: 41.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-family: "Cinzel", serif;
  }
  .wrapper .homewrapper .imgwrapper .audreyhome {
    max-height: 100%;
    max-width: 60%;
    height: auto;
    width: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.4%;
    padding-top: 0.4%;
    border: 10px double #343a40;
  }
  .wrapper .homewrapper .textwrapper {
    width: 58.33%;
    display: flex;
    margin-right: 5%;
  }
  .wrapper .homewrapper .textwrapper .bioleft {
    width: 50%;
    font-family: "Lato", sans-serif;
    display: flex;
    text-align: justify;
    margin-right: 2%;
    margin-top: 10%;
    border-right: 1px solid #343a40;
    padding-right: 3%;
  }
  .wrapper .homewrapper .textwrapper .bioright {
    width: 50%;
    font-family: "Lato", sans-serif;
    display: flex;
    margin-left: 1%;
    text-align: justify;
    margin-top: 10%;
    padding-left: 3%;
    border-left: 1px solid #343a40;
  }
}
body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
